[Unit]
Description=Setup log directory in /tmp/ for permanent symlinks to save SSD writes

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=mkdir -p /tmp/logs/ && mkdir -p /tmp/.thumbnails/

[Install]
WantedBy=default.target
