/** Custom Wofi Theme with Nightfox colors **/
window {
	border: 3px solid #9d79d6;
	background-color: #192330;
}

#input {
	border: 1px solid #738091;
	background-color: #192330;
}

#outer-box {
	border: 3px solid #9d79d6;
	background-color: #192330;
}

#inner-box {
	background-color: rgba(0, 0, 0, 0);
}

#entry:selected {
	background-color: rgba(157, 121, 214, 204);
}

#text {
	margin: 5px;
}

#img {
	margin: 0px;
}
